<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Default" connectionString="Server=myServerAddress;Database=myDataBase;Trusted_Connection=True;"/>
    <add name="CustomerDB" connectionString="Server=myServerAddress;Database=myDataBase;Uid=myUsername;Pwd=myPassword;"/>
    <add name="AuthDB" connectionString="Data Source=c:\mydb.db;Version=3;"/>
  </connectionStrings>
  <appSettings>
    <add key="TempFilePath" value="C:\Temp"/>
    <add key="UserName" value="admin"/>
    <add key="SystemEmailAddress" value="help@test.com"/>
    <add key="ServerIPAddress" value="127.0.0.1"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>